[Unit]
Description=SickBeard Daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/sickbeard
User=transmission
Group=transmission
Type=forking
ExecStart=/usr/bin/python /data/sickbeard/SickBeard.py $DAEMON_ARGS
PIDFile=/run/mediaservices/sickbeard.pid
GuessMainPID=no

[Install]
WantedBy=multi-user.target
