[Unit]
Description=NZBHydra Daemon
Documentation=https://github.com/theotherp/nzbhydra
After=network.target openvpn@client.service

[Service]
EnvironmentFile=/etc/sysconfig/nzbhydra
User=transmission
Group=transmission
Type=forking
ExecStart=/usr/bin/python2.7.14 /data/nzbhydra/nzbhydra.py $DAEMON_ARGS
PIDFile=/data/nzbhydra/nzbhydra.pid
GuessMainPID=no
Restart=always
RestartSec=5
Nice=-20

[Install]
WantedBy=multi-user.target