[Unit]
Description=SABnzbd Daemon
After=network.target openvpn@client.service

[Service]
EnvironmentFile=/etc/sysconfig/sabnzbd
User=transmission
Group=transmission
Type=forking
ExecStart=/usr/bin/python2.7.14 -OO /data/sabnzbd/SABnzbd.py $DAEMON_ARGS
PIDFile=/run/mediaservices/sabnzbd.pid
GuessMainPID=no
Restart=always
RestartSec=5
Nice=-20

[Install]
WantedBy=multi-user.target