[Unit]
Description=Transmission BitTorrent Daemon
After=network.target openvpn@client.service

[Service]
EnvironmentFile=/etc/sysconfig/transmission-daemon
User=transmission
Type=notify
ExecStart=/usr/bin/transmission-daemon -f $DAEMON_ARGS
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
Nice=-20

[Install]
WantedBy=multi-user.target